tools/.setup.json
__pycache__/
build/
app/.state.json
app/.window/
app/launcher/*.obj
app/launcher/*.res
app/launcher/packages/
tests/*/build/
tests/*/*.dol
tests/*/*.elf
tests/*/*.elf.map
tests/*/*.iso
