#include <windows.h>

1 ICON "..\\app.ico"

1 VERSIONINFO
FILEVERSION 0,1,0,0
PRODUCTVERSION 0,1,0,0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904b0"
    BEGIN
      VALUE "FileDescription", "DolphinWorks"
      VALUE "ProductName", "DolphinWorks"
      VALUE "ProductVersion", "0.1 (prototype)"
      VALUE "OriginalFilename", "DolphinWorks.exe"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END
